<div class="container-fluid" style="margin-top: 80px;width:90%;">

  <div class="row">
    <div class="col-md-8 bg-dark" >
      <div class="row">
        <div id="videoTitle" style="height: 60px"></div>
      </div>
      <div class="row">
        <app-player></app-player>
      </div>
      <div class="row " >
        <app-controls style="width:100%;height: 60px"></app-controls>
      </div>
    </div>
    <div class="col-md-4 jumbotron" style="width:98%;">
      <app-playlist></app-playlist>
    </div>

  </div>
</div>
