<div class="container">


  <nav class="navbar fixed-top navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">lunas</a>
    <ul class="navbar-nav">

      <li class="nav-item ">
        <a routerLink="/video-player" routerLinkActive="active" class="nav-link">video player</a>
      </li>
      <li class="nav-item">
        <a routerLink="/new-video" routerLinkActive="active" class="nav-link">new video</a>
      </li>

    </ul>
  </nav>

</div>

<router-outlet></router-outlet>
